/* GENERAL STYLES */

:root {
  /* Fonts */
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;

  /* Text colors */
  --accent-color: #2196f3;
  --main-color: #212121;
  --second-color: #ffffff;
  --adress-txt-main-color: rgba(255, 255, 255, 0.6);
  --logo-color-main: #000000;

  /* Background colors */
  --background-text-color: #757575;
  --background-bgh-bgf-color: #2f303a;
  --background-bgsection-color: #f5f4fa;

  /* Others */
}

body {
  font-family: var(--main-font);
  color: var(--main-color);
  background-color: var(--second-color);
}

/* Reset start */
ul {
  padding-left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  display: block;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* Reset end */

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

.btn {
  cursor: pointer;
  background: transparent;
}

.btn:hover,
.btn:focus {
  background: #188ce8;
}

/* Header */
.header-container {
  display: flex;
  align-items: center;
}
.nav-list {
  display: flex;
  align-items: center;
  margin-left: 93px;
}

.logo,
.accent,
.accent-part {
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--logo-color-main);
  text-decoration: none;
  background: var(--second-color);
}
.accent {
  color: var(--accent-color);
}

.header-nav:not(:last-child) {
  margin-right: 50px;
}

.header-link {
  display: block;
  padding: 32px 0;

  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-color);
}
.header-link.current {
  color: var(--accent-color);
}

.contacts-list {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.header-contacts-list:not(:last-child) {
  margin-right: 50px;
}

.header-contacts {
  display: block;
  padding: 32px 0;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--background-text-color);
}

/* HERO */
.hero {
  width: 1200px;
  height: 600px;
  margin: auto;
  padding: 200px 15px;
  text-align: center;
  background: var(--background-bgh-bgf-color);
}

.hero-titel {
  margin-right: auto;
  margin-left: auto;
  width: 696px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--second-color);
}

.hero-btn {
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 200px;
  border-radius: 4px;
  min-width: 216px;
  padding: 10px 32px;
  border: none;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--second-color);
  background-color: var(--accent-color);
}

/* QUALITY */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.quality-section {
  display: flex;
}

.quality-list {
  display: flex;
  padding-left: 0%;
  margin-top: 94px;
  margin-bottom: 94px;
}

.quality-item:not(:last-child) {
  margin-right: 30px;
}

.quality-titel {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-color);
}

.quality-description {
  display: block;
  width: 270px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--background-text-color);
}

/* ABOUT */

.about-titel {
  flex-basis: 366px;
  margin-bottom: 50px;
}

.about-titel-image {
  display: flex;
  gap: 30px;
}
.about-titel,
.staff-titel {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

/* OUR STAFF */
.staff {
  background-color: var(--background-bgsection-color);
}

.staff-titel {
  flex-basis: 264px;
  padding-top: 94px;
}

.staff-list {
  display: flex;
  margin-top: 50px;
  margin-bottom: 0px;
  gap: 30px;
  padding-bottom: 94px;
}
.staff-item {
  border-radius: 0px 0px 4px 4px;
  background-color: var(--second-color);
  padding-bottom: 30px;
}
.staff-name {
  padding-top: 30px;
  padding-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

.staff-position {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--background-text-color);
}

/* FOOTER */
.footer {
  background-color: var(--background-bgh-bgf-color);
}

.container-footer {
  width: 1200px;
  margin: 0 auto;
  padding: 60px 15px;
}

.logo-footer {
  margin-bottom: 20px;
}
.accent-part.footer.logo {
  color: var(--second-color);
}

.adress-item {
  margin-bottom: 9px;

  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-color);
}
.adress-item-contacs {
  margin-bottom: 9px;

  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--adress-txt-main-color);
}

/* PORTFOLIO HTML */

/* OUR WORKS */

.buttons-container {
  width: 1200px;
  margin: 94px auto 50px;
  padding: 0 15px;
}
.buttons-list {
  display: flex;
  justify-content: center;
  margin: auto;
}

.buttons-item:not(:last-child) {
  margin-right: 8px;
}

.buttons-btn {
  display: block;
  padding: 4px 20px;

  font-family: inherit;
  cursor: pointer;
  background-color: var(--background-bgsection-color);
  border-radius: 4px;
  border-color: transparent;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
}
.buttons-btn:hover,
.buttons-btn:focus {
  color: var(--second-color);
}

/* GALLERY */
.projects-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.projects-item {
  background: var(--second-color);
  flex-basis: 370px;
}

.border-contair {
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.projects-item-img {
  display: block;
}

.projects-item-titel {
  width: 322px;
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-color);
}

.project-item-description {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--background-text-color);
}
